/*Desktop View*/
.header{
  background: #35073D;
}

li{
  a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
}

.logo {
  width: 150px;
  height: 100px;
}

.nav-options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px;
  list-style-type: none; 
  margin-bottom: 0;
  margin-left: auto;
}

.mobile-option {
  display: none;
}

.option :hover {
color: #DB956E;
  text-decoration: none;
}

.signin-up {
  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}

.sign-in {
  padding-right: 50px;
  align-self: center;
}

.sign-in :hover {
  color: white;
}

.signup-btn {
  padding: 10px 10px;
  height: 2.4rem;
  border-radius: 3px;
  background: rgb(222, 9, 241);
  color: white;
  cursor: pointer;
  align-items: center;
}

@media (max-width: 768px) {
  /*Mobile View */

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-left: auto;
  }
  
  .nav-options {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    /* padding-top: 50%; */
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
    font-size: 20px;
  }

  .nav-options li{
      padding-top: 70px;
  }

  .nav-options.active {
    background: #000000ec;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 16;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding: 30px 0px;
  }
  .sign-up {
    background: rgb(222, 9, 241);
    border-radius: 3px;
    color: white;
    padding: 20px 0px;
    width: 80%;
    align-self: center;
    border-radius: 3px;
  }

  .signin-up {
    display: none;
  }
}
  

@media (min-width: 769px) and  (max-width: 1024px){
  .header{
    width: 80%;
    margin: auto;
  }

  .nav-options {
    display: flex;
  }

  .logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu{
    display: none;
  }
  
}

@media  (min-width: 1025px) and (max-width: 1440px){

  // .header{
  //   width: 90%;
  //   margin: auto;
  // }

  .mobile-menu{
    display: none;
  }

  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
  