@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

$background: #35073D;
$textColor: #fff;
$fillColor: #DB956E;
$paginationPrimaryColor: #ffffff4d;

@mixin containerM {
    width: 90%;
    margin: auto;
}

@mixin containerD {
    width: 80%;
    margin: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    color: $textColor
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.primary{
    background: $background;
    &-inner{
        @include containerM();
    }
}



/*----------------------- HOME ---------------------------*/

.headerMain{
    padding-bottom: 3rem;
    div:first-child{
        padding-bottom: 2rem;
        & h1{
            font-style: normal;
            padding-bottom: 1.4rem;
            font-size: 1.5rem;
        }
        & p{
            font-style: normal;
            font-size: .9rem;
            padding-bottom: 1.4rem;
        }
        & div{
            background: $fillColor;
            padding: .6rem .1rem;
            text-align: center;
            width: 50%;
            border-radius: 5px;
            font-size: .8rem;
        }
    } 
} 

/*----------------------- Determine ---------------------------*/

.determine{
    & p{
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
        font-size: .8rem;
    }
    &-inner{
        display: flex;
        padding-bottom: 2rem;
        justify-content: space-between;
        align-items: center;
        font-size: .8rem;
    }
    & img{
        width: 1rem;
    }
}

/*----------------------- PAGINATION ---------------------------*/


.paginationPathA{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
    & a {
        color: $paginationPrimaryColor;
        font-size: .9rem;
        border: 1px solid $paginationPrimaryColor;
        padding: .2rem .5rem;
        border-radius: .3rem;
        & img{
            max-width: 10px;
        }
    }
    & a.active{
        border: 1px solid $fillColor;
        color: $fillColor;
    }
}

.paginationA1{
    width: 1.5rem;
    padding-bottom: .5rem;
    &-details{
        text-align: center;
        font-size: .9rem;
    }
    &-button{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;

        & a:nth-child(1), 
        & a:nth-child(2){
            margin-right: .3rem;
        }
        & button{
            color: #fff;
            background:  $paginationPrimaryColor;
            padding: .5rem .2rem;
            width: 5.5rem;
            font-size: .8rem;
            border: none;
            margin-bottom: 2.5rem;
            cursor: pointer;
        }
    } 
}

.pagination{
    width: 80%;
    margin: auto;
}

.location{
    padding-top: 2rem;
}

.data-width{
    padding-top: 2rem;
    & input,
    & button {
        width: 100%;
        margin: auto;
    }
    & button{
        background: linear-gradient(180deg, #DB956E 0%, #db956e5c 100%);;
        border: none;   
        padding: .4rem .9rem;
        margin-bottom: 3rem;
        font-size: .8rem;
    }
    & input{
        background: $paginationPrimaryColor;
        border: none;
        padding: .4rem .9rem;
        margin-bottom: 1.5rem;
        font-size: .8rem;
    }
}



/*----------------------- FOOTER ---------------------------*/

footer{
    border-top: 0.5px solid #ffffff4d;
    // position: absolute;
    bottom: 0;
    // width: 100%;
    & .footer-logo{
        & img{
            padding-top: 2rem;
            width: 80px;
            padding-bottom: 2rem;
        }
    } 
    & span{
        color: $fillColor;
    }
}

.footer-logo{
    text-align: center;
}

.info-tip{
    padding-bottom: 2rem;
    font-size: .8rem;
    & div{
        padding-bottom: 1rem;
    }
} 

.social{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 60%;
    margin: auto;
    & div img{
        width: 20px;
        height: 20px;
    }
}

.handles{
    text-align: center;
    padding-bottom: 2rem;
    font-size: .8rem;
}

.calculator{
    text-align: center;
    font-size: .9rem;
    padding-bottom: 1.9rem;
    color: #ffffff80;
}


@media (min-width: 768px) and (max-width: 1023px){

    /*----------------------- Determine ---------------------------*/

    .determine{
        &-inner{
            width: 50%;
            font-size: 1rem;
        }
        & p{
            font-size: 1rem;
        }
    }

    /*----------------------- PAGINATION ---------------------------*/

    .paginationA1{
        &-details p{
            font-size: 1rem;
        }
        &-button{
            & a:nth-child(1), 
            & a:nth-child(2){
                margin-right: 2rem;
            }
            & button{
                font-size: .8rem;
                width: 7rem;
            }
        } 
    }

    .pagination{
        width: 60%;
        margin: auto;
    }

    .data-width{
        & input,
        & button{
            width: 60%;
        }
    }

    /*----------------------- FOOTER ---------------------------*/

    .headerMain{
        & div:first-child{
            & div{
                width: 25%;
                font-size: .9rem;
            }
            & h1{
                font-size: 2rem;
            }
            & p{
                font-size: 1rem;
            }
        }
        & img{
            width: 60%;
        }
    }

    .social{
        justify-content: space-evenly;
        width: 50%;
        margin: auto;
    }

}


@media  (min-width: 1024px) and (max-width: 1440px){

    .full-height{
        height: 100vh;
    }

    /*----------------------- HOME ---------------------------*/

    .headerMain{
        display: flex;
        & > *{
            flex: 1 1 25px;   
            margin: .9rem; 
        }
        & div:first-child {
            & h1{
                font-size: 2.5rem;
            }
            & p{
                font-size: 1rem;
            }
            & div{
                font-size: 1rem;
                width: 40%;
            }
        }
    }

    /*----------------------- DETERMINE ---------------------------*/
    

    .determine{
        padding-bottom: 5rem;
        &-inner{
            width: 30%;
            font-size: 1rem;
        }
        & P{
            font-size: 1rem;
        }
    }


    /*----------------------- PAGINATION ---------------------------*/

    .paginationA1{
        &-details p{
            font-size: 1.1rem;
        }
        &-button{
            & a:nth-child(1), 
            & a:nth-child(2){
                margin-right: 2rem;
            }
            &  button{
                font-size: .9rem;
                width: 12rem;
            }
        }
    }

    .pagination{
        width: 60%;
        margin: auto;
    }

    .data-width{
        & input,
        & button{
            width: 60%;
            font-size: 1rem;
        }
        & button{
            margin-bottom: 4rem;
        }
    }


    /*----------------------- FOOTER ---------------------------*/

    .info-tip{
        display: flex;
        justify-content: space-evenly;
        width: 70% ;
        margin: auto;
        font-size: .8rem;
    }

    .handles{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .8rem;
    }

    .social{
        padding-top: 0;
        width: 20%;
        & > *{
            flex: 1 1 25px;   
            margin: .9rem; 
        }
    }

}



























