@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

$background: #35073D;
$textColor: #fff;
$fillColor: #DB956E;
$paginationPrimaryColor: #ffffff4d;

@mixin containerM {
    width: 90%;
    margin: auto;
}

@mixin containerD {
    width: 80%;
    margin: auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    color: $textColor
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.primary{
    background: $background;
    &-inner{
        @include containerM();
    }
}

button{
    border-radius: .2rem;
}

input{
    border-radius: .2rem;
}



/*----------------------- HOME ---------------------------*/

.headerMain{
    padding-bottom: 3rem;
    div:first-child{
        padding-bottom: 2rem;
        & h1{
            font-style: normal;
            padding-bottom: 1.4rem;
            font-size: 1.5rem;
        }
        & p{
            font-style: normal;
            font-size: .9rem;
            padding-bottom: 1.4rem;
        }
        & div{
            background: $fillColor;
            padding: .6rem .1rem;
            text-align: center;
            width: 50%;
            border-radius: 5px;
            font-size: .85rem;
        }
    } 
} 

/*----------------------- Determine ---------------------------*/

.determine{
    padding-bottom: 3rem;
    & p{
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
        font-size: 1rem;
    }
    &-inner{
        display: flex;
        padding-bottom: 2rem;
        justify-content: space-between;
        align-items: center;
        font-size: .95rem;
    }
    & img{
        width: 1.07rem;
    }
}

/*----------------------- PAGINATION ---------------------------*/


.paginationPathA{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
    & a {
        color: $paginationPrimaryColor;
        font-size: .9rem;
        border: 1px solid $paginationPrimaryColor;
        padding: .2rem .5rem;
        border-radius: .3rem;
        & img{
            max-width: 10px;
        }
    }
    & a.active{
        border: 1px solid $fillColor;
        color: $fillColor;
    }
}


.pagination{
    width: 80%;
    margin: auto;
}

.paginationA1{
    width: 1.5rem;
    padding-bottom: .5rem;
    &-details{
        text-align: center;
        font-size: 1rem;
        margin-bottom: 3.5rem;
        & p{
            padding-bottom: 2rem;
        }
    }
    &-button{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        & a:nth-child(1), 
        & a:nth-child(2){
            margin-right: .3rem;
        }
        & button{
            color: #fff;
            background:  $paginationPrimaryColor;
            padding: .5rem .2rem;
            width: 6.5rem;
            font-size: .96rem;
            border: none;
            cursor: pointer;
        }
    } 
}

.arrow{
    width: 10px;
}

.unit{
    display: flex;
    // display: grid;
//   grid-template-columns: repeat(2, auto);
    text-align: center;
    justify-content: center;
    // padding-top: 1rem;
    border: 1px solid $paginationPrimaryColor;
    & > *{
        margin: .5rem;
    }
    & div{
        color:  #ffffffb3;
        margin-left: .39rem;
    }
    &-inner{
        display: flex;
        font-size: .7rem;
        justify-content: space-between;
        // border: .5px solid $paginationPrimaryColor;
        & > *{
            margin: .2rem;
        }
    }
}

.add-device{
    text-align: left;
    font-size: .75rem;
    color: $fillColor;
    padding-bottom: 1rem;
}

.calc{
    // display: flex;
    // justify-content: space-around;
    width: 40%;
    margin: auto;
    // padding-bottom: 4rem;
    font-size: .9rem;
    & > * {
        text-align: center;
        padding-bottom: 2rem;
    }
    &-inner{
        border: 1px solid $paginationPrimaryColor;
        border-radius: 5px;
        padding: .8rem 0rem 0rem 0rem;
        margin-bottom: 1.2rem;
    }
    & p{
        color:  #ffffffb3;
        padding-bottom: 1rem;
    }
    & button{
        display: block;
        width: 100%;
        border: none;
        padding: .4rem .9rem;
        font-size: .95rem;
        background: linear-gradient(180deg, #DB956E 0%, #db956e5c 100%);;

    }
    &-data{
        font-size: 1.1rem;
        padding-bottom: 1rem;
    }
}

.dormant{
    & button{
        background: #ffffff4d !important;
    }
    & p{
        font-size: .7rem;
        font-style: italic;
        padding-top: .5rem;
    }
} 




.reactions{
    width: 100%;
    font-size: .8rem;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem 0;
    border: 1px solid #ffffffb3 ;
    border-radius: 5px;
    &-inner{
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    & h2{
        text-align: center;
        margin-bottom: 1rem;
    }
}

.location{
    padding-top: 2rem;
}

.appliance-header{
    text-align: center;
    // font-size: 1.1rem;
    padding-bottom: 2.5rem;
}

.residential-appliances,
.data-width{
    // padding-top: 2rem;
    & input,
    & button {
        width: 100%;
        margin: auto;
    }
    & button{
        background: linear-gradient(180deg, #DB956E 0%, #db956e5c 100%);;
        border: none;   
        padding: .4rem .9rem;
        margin-bottom: 3rem;
        font-size: .95rem;
    }
    & input{
        background: $paginationPrimaryColor;
        border: none;
        padding: .4rem .9rem;
        margin-bottom: 1.5rem;
        font-size: .95rem;
    }

}

label{
    display: block;
    margin-bottom: .5rem;
    text-align: left;
    font-size: .8rem;
}

textarea{
    background: $paginationPrimaryColor;
    width: 100%;
    height: 5rem;
    display: block;
    margin-bottom: 1rem;
    padding: .5rem;
}

.add-devices{
    display: none;
}

.add-more-device{
    display: flex;
    font-size: .8rem;
    color: $paginationPrimaryColor;
    padding-bottom: 1rem;
    justify-content: space-between;
    & > *{
        flex: 1 1 25px;
        color: $paginationPrimaryColor;
    }

    & b,
    & p{
        color: $paginationPrimaryColor;
        padding-bottom: 0;
    }

    & .quantity input{
        text-align: center;
    }
    & div:first-child {
        text-align: left;
    }
}

.bin svg{
    width: 20px;
    height: 20px;
    text-align: right;
}






/*----------------------- FOOTER ---------------------------*/

footer{
    border-top: 0.5px solid #ffffff4d;
    // position: absolute;
    bottom: 0;
    // width: 100%;
    & .footer-logo{
        & img{
            padding-top: 2rem;
            width: 80px;
            padding-bottom: 2rem;
        }
    } 
    & span{
        color: $fillColor;
    }
}

.footer-logo{
    text-align: center;
}

.info-tip{
    padding-bottom: 2rem;
    font-size: .8rem;
    & div{
        padding-bottom: 1rem;
    }
} 

.social{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 60%;
    margin: auto;
    & div img{
        width: 20px;
        height: 20px;
    }
}

.handles{
    text-align: center;
    padding-bottom: 2rem;
    font-size: .8rem;
}

.calculator{
    text-align: center;
    font-size: .9rem;
    padding-bottom: 1.9rem;
    color: #ffffff80;
}


@media (min-width: 768px) and (max-width: 1023px){

    /*----------------------- Determine ---------------------------*/

    .determine{
        &-inner{
            width: 60%;
            font-size: 1.07rem;
        }
        & p{
            font-size: 1.1rem;
        }
    }

    /*----------------------- PAGINATION ---------------------------*/

    .paginationA1{
        &-details p{
            font-size: 1.1rem;
        }
        &-button{
            & a:nth-child(1), 
            & a:nth-child(2){
                margin-right: 2rem;
            }
            & button{
                font-size: .93rem;
                width: 7rem;
            }
        } 
        & img{
            width: 130%;
        }
    }

    .pagination{
        width: 60%;
        margin: auto;
    }

    .residential-appliances,
    .data-width{
            width: 70%;
            margin: auto;
        & input{
            font-size: .95rem;
        }
        & button{
            font-size: .95rem;
        }
    }

    .power-quantity{
        display: flex;
        & div:first-child{
            margin-right: 1rem;
        }
    }

    .reactions{
        width: 60%;
        margin: auto;
    }

    .add-more-device{
        & p{
            font-size: .9rem;
        }
    }

    .calc{
        width: 33%;
    }


    .unit{
        justify-content: space-around;
        &-inner{
            font-size: .9rem;
        }
    }mmmmm

    /*----------------------- FOOTER ---------------------------*/

    .headerMain{
        & div:first-child{
            & div{
                width: 25%;
                font-size: .9rem;
            }
            & h1{
                font-size: 2rem;
            }
            & p{
                font-size: 1rem;
            }
        }
        & img{
            width: 60%;
        }
    }

    .social{
        justify-content: space-evenly;
        width: 50%;
        margin: auto;
    }

}


@media  (min-width: 1024px) and (max-width: 1440px){

    .full-height{
        height: 100vh;
    }

    /*----------------------- HOME ---------------------------*/

    .headerMain{
        display: flex;
        & > *{
            flex: 1 1 25px;   
            margin: .9rem; 
        }
        & div:first-child {
            & h1{
                font-size: 2.5rem;
            }
            & p{
                font-size: 1rem;
            }
            & div{
                font-size: 1rem;
                width: 40%;
            }
        }
    }

    /*----------------------- DETERMINE ---------------------------*/
    

    .determine{
        padding-bottom: 5rem;
        &-inner{
            width: 35%;
            font-size: 1.1rem;
        }
        & P{
            font-size: 1.5rem;
        }
    }


    /*----------------------- PAGINATION ---------------------------*/

    

    .paginationA1{
        &-details p{
            font-size: 1.2rem;
        }
        &-button{
            & a:nth-child(1), 
            & a:nth-child(2){
                margin-right: 2rem;
            }
            &  button{
                font-size: .95rem;
                width: 12rem;
            }
        }
    }

    .pagination{
        width: 60%;
        margin: auto;
    }

    .data-width{
            width: 40%;
            margin: auto;
            font-size: 1.1rem;
        & button{
            margin-bottom: 4rem;
        }
    }

    .power-quantity{
        display: flex;
        flex-wrap: wrap;
        & div:first-child{
            margin-right: 1rem;
        }
        & > * {
            flex-grow: 1;
        }
    }

    .back-arrow{
        width: 170%;
    }

    .reactions{
        width: 40%;
    }

    .calc{
        display: flex;
        justify-content: space-around;
        padding-bottom: 3rem;
        
        & > *{
            width: 40%;
        }
        &-data{
            padding-bottom: 2rem;
        }
    }

    .add-more-device{
        & b{
            font-size: .7rem;
        }
    }

    .add-device{
        &-mobile{
            display: none;   
        }
        &-display{
            display: flex;
            width: 70%;
            margin-left: 20rem;
        }
    }

    .add-devices{
        display: block;
        width: 40%;
        margin-left: 2rem;
        padding-left: 2rem;
        border-left: 1px $paginationPrimaryColor solid;
        & p{
            font-size: .9rem;
        }
    }


    .residential-appliances button,
    .data-width button {
        margin-bottom: 2rem; 
    }

    .appliance-header{
        font-size: 1.5rem;
    }

    

    

    /*----------------------- FOOTER ---------------------------*/

    .info-tip{
        display: flex;
        justify-content: space-evenly;
        width: 70% ;
        margin: auto;
        font-size: .8rem;
    }

    .handles{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .8rem;
    }

    .social{
        padding-top: 0;
        width: 20%;
        & > *{
            flex: 1 1 25px;   
            margin: .9rem; 
        }
    }










    // .riggy{
    //     display: flex;
    //     font-size: .8rem;
    //     justify-content: space-between;
    // }
}



























